.chart {
	text-align: center;
}

.navbar{
	background: #087032;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
	color:          white;
}

/*.navbar {
 
 
 *
 *+*
 *+**
 *+***
 *+****
 *+******
 *+*******
 *+********
 *+*********
 *
 */


.adsense {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.aviso {
	text-align: center;
	color: red;
	font-weight: bold;
}

.permalink {
	font-size: 10px;
	float: right;
}

ol.alternativas {
	margin-bottom: 2em;
	list-style-type: upper-alpha;
}

/* diseño de preguntas en la creación/edición de una prueba */
#preguntas > div {
	border: 1px dashed gray;
	padding: 10px;
	margin-bottom: 10px;
}
#preguntas > div > div, #preguntas img.imagen {
	margin-bottom: 10px;
}
#preguntas > div > div > a, #preguntas > div > div > div > div {
	display: block;
	margin-bottom: 5px;
}
#preguntas textarea.pregunta, #preguntas textarea.explicacion {
	width: 685px;
}
#preguntas select.tipo {
	width: 90px;
}
#preguntas img.imagen {
	float: left;
	max-width: 300px;
	border: 1px solid black;
	margin-right: 20px;
}
#preguntas div.respuestas {
	float: left;
	width: 350px;
}
#preguntas input.respuesta {
	width: 310px;
}
#preguntas div.respuestas span {
	color: red;
}
#preguntas textarea.pregunta, #preguntas textarea.explicacion, #preguntas input.respuesta {
padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;border:1px solid #ccc;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);box-shadow:inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
#preguntas textarea.pregunta:focus, #preguntas textarea.explicacion:focus, #preguntas input.respuesta:focus {
border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

p.objetivo {
	font-size: 1.4em;
	color: #444;
}
p.objetivo > span {
	color: orange;
	font-weight: bold;
}
ul  {
	/*list-style-type: circle;*/
}
#select0 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 200px;
    text-align: center;
    text-align-last: center;
     cursor: grab; 
    -webkit-appearance: none;
    -moz-appearance: none;
}

#select1 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    min-width: 50px;
    max-width: 100px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select2 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    min-width: 50px;
    max-width: 100px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select3 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    min-width: 50px;
    max-width: 100px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select4 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 130px;
    max-width: 150px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select5 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 130px;
    max-width: 150px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select6 {
   border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    max-width: 100px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}


#select7 {
   border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 130px;
    max-width: 150px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select8 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 130px;
    max-width: 150px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select9 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 130px;
    max-width: 150px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select10 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 130px;
    max-width: 150px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select11 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 70px;
    width: auto;
    min-width: 200px;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select12 {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 100px;
    width: auto;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select {
    border: 5;
    border-radius: 353px;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 100px;
    width: auto;
    text-align: center; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: grab; 
}

#select13 {
    border: 5;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center; 
    cursor: pointer;
    position: absolute;
    left: 130px;
    top: 0px;
}

#select14 {
    border: 5;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center; 
    cursor: pointer; 
    position: absolute;
    left: 60px;
    top: 110px;
}

#select15 {
    border: 5;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center; 
    cursor: pointer;
    position: absolute;
    left: 225px;
    top: 110px; 
}

#select16 {
    border: 5;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center; 
    cursor: pointer; 
    position: absolute;
    left: 400px;
    top: 110px;
}

#select17 {
    border: 5;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center; 
    cursor: pointer; 
    position: absolute;
    left: 130px;
    top: 205px;
}

#select18 {
    border: 5;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center; 
    cursor: pointer;
    position: absolute;
    left: 130px;
    top: 315px; 
}

#select19 {
    border: 5;
    border-style: solid;
    border-color: black;
    background:rgba(0,0,0,0.5);
    background-color: transparent;
    height: 50px;
    width: auto;
    text-align: center; 
    cursor: pointer; 
    position: absolute;
    left: 315px;
    top: 315px; 
}


option{ 
word-wrap: break-word; 
  white-space: -moz-pre-wrap; 
  white-space: pre-wrap;  
  width:100px;
}
select option:nth-child(odd){
background: lightcyan; 
}

#div1 {
         overflow: scroll;
	 border: silver 10px solid;
  	border-image-source: url("marco.png");
  	border-image-slice: 21;
  	padding: 10px;
         height: auto;
	 max-height: 300px;
         width:1050px;
    }
#div1 texto {
        width:100px;
	border: 5;
        background-color: white;
    }


#div2 {
        width: 350px;
        height: 70px;
        padding: 10px;
        border: 1px solid #aaaaaa;
    }


#div3 {
	height: 800px;
  	width: 1000px;
	position: relative;
	background-image:  url("map.png");
	text-align: center;
 	background-size: 1000px 600px;
 	background-repeat: no-repeat;
  	background-position: 0% 30%;
 	background-attachment: scroll;
}
#div4 {
	height: 400px;
  	width: 600px;
	position: relative;
	background-image:  url("ma2.png");
 	background-size: 230px 300px;
 	background-repeat: no-repeat;
  	background-position: center;
 	background-attachment: scroll;
}

#ingreso {
	position: relative;
	text-align: center;
	border: silver 10px solid;
  	border-image-source: url("marco.png");
  	border-image-slice: 21;
  	padding: 10px;
}
#botones {
	height: 400px;
  	width: 200px;
	position: relative;
}

ul.ordenar  {
	list-style-type: circle;
}

#sortable1 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable1 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; cursor: grab;}
#sortable1 li span { position: absolute; margin-left: -1.3em; cursor: grab;}

#sortable2 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable2 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; cursor: grab;}
#sortable2 li span { position: absolute; margin-left: -1.3em; cursor: grab;}

#sortable3 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable3 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; cursor: grab;}
#sortable3 li span { position: absolute; margin-left: -1.3em; cursor: grab;}

#sortable4 { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable4 li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; cursor: grab; }
#sortable4 li span { position: absolute; margin-left: -1.3em; cursor: grab;}

a.botonsig {
    	-webkit-appearance: button;
    	-moz-appearance: button;
    	appearance: button;
	text-align: center;
    	height: 40px;
  	width: 180px;
    	text-decoration: none;
   	color: blue;
	border: silver 5px solid;
	border-image-source: url("marco.png");
  	border-image-slice: 21;
  	padding: 1px;
	position: absolute;
    left: 315px;
    top: 0px; 
}

a.botonant {
    	-webkit-appearance: button;
    	-moz-appearance: button;
    	appearance: button;
	text-align: center;
    	height: 40px;
  	width: 180px;
    	text-decoration: none;
   	color: blue;
	border: silver 5px solid;
	border-image-source: url("marco.png");
  	border-image-slice: 21;
  	padding: 1px;
	position: absolute;
    left: 100px;
    top: 0px; 
}


